.App-intro { font-size: large; }
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title { font-size: 1.5em; }
.bgBlueLight{	background-color:#23B7E5 !important; }
.bgColor{ background-color:#00bcd4;}
.Body_center_div {
  float: left;
	width: auto;
	color: #ffffff;
	background: #2c3e50 ;
}
.Body_left_div {
  float: left;
	width: 300px;
	color: #ffffff;
	background: #2c3e50 ;
	overflow: visible !important;
}
.Body_right_div {
  float: right;
	width: 300px;
	color: #ffffff;
	background: #2c3e50 ;
}
.button{
	display: inline;
	width:auto;
	color:white;
	font-size:14px;
}
.colorBlack{ color:black !important; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 1px;
  padding-left: 1px;
}
.Header{
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  color: #ffffff;
  background: #010000;
  padding: 5px;
}
.Header-nav{
  position: absolute;
  width: auto;
  height:40px;
  right: -150px;
}
.Header-nav-projectName{
  position: absolute;
  float: left;
  height: 50px;
  top: 22px;
}
.Header-nav-li {
  float: left;
    a {
      display: block;
      color: white;
      padding: 16px;
      text-align: center;
      text-decoration: none;
      text-color: white;
      &:hover { background-color: #111111; }
    }

}
.Header-nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.height25{ height:25px !important; }
.height50Percent{	height:50% !important; }
.left-view {
  float: left;
  width:auto;
}
.logo{
  position: absolute;
  width: auto;
  height: auto;
  background: #FFF;
  max-height: 52px;
  left:0px;
  overflow: hidden;
}
.padding10{	padding:10px; }
.paddingLeft10{	padding-Left:10px; }
.paddingLeft20{	padding-Left:20px; }
.paddingLeft150{ padding-Left:230px; }
.paddingLeft300{ padding-Left:308px; }
.paddingRight100{	padding-Right:100px; }
.paddingTop10{
  padding-Top: 20px;
	background: #FFF;
}
.paddingTop40{ padding-Top: 40px; }
.paddingTop100{	padding-Top: 100px; }
.panel {
	height: 30px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-transparent { background: none; }
.panel-transparent .panel-body{ background: rgba(46, 51, 56, 0.2)!important; }
.right-view {
  float: left;
  width: auto;
}
.row {
  margin-right: -80px;
  margin-left: -15px;
}
.textColor{ color:white !important; }
.width20Percent{ width:25% !important; }
.width40Percent{ width:40% !important; }
